#series {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  top: 35%;
  transition: right .5s;
  ul {
    list-style: none;
    padding: 0;
  }
  #bar {
    background-color: t('success');
    border-radius: 0 5px 5px 0;
    padding: 3px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #fff;
      &:hover {
        color: #fff !important;
      }
    }
  }
  .post_list {
    margin-left: 8px;
    padding: 5px 10px 20px 5px;
  }
  @include themed() {
    box-shadow: t('shadow');
    border-color: t('primary-light');
    border-radius: 10px 0 0 10px;
    background-color: darken($color: t('accent'), $amount: 2);
    background-image: linear-gradient(45deg, t('accent') 25%, transparent 25%, transparent 75%, t('accent') 75%, t('accent')),
    linear-gradient(-45deg, t('accent') 25%, transparent 25%, transparent 75%, t('accent') 75%, t('accent'));
    background-size: 60px 60px;
  }
}

